
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	font-family: 'Roboto', sans-serif;
}

.row {
	display: flex;
}

p {
	margin: 5px;
}

.item {
	display: flex;
	flex-direction: column;
	width: 280px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px
}

.item > * {
	margin: 5px 10px;
}

.item > :last-child {
	margin-bottom: 10px;
}

.item > :first-child {
	margin-top: 10px;
}

.item-price {
	font-weight: 500;
	font-style: italic;
}

.item-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
}